<div style="margin: 1rem 4rem">
  <form [formGroup]="form">
    <h2>Select your pizza toppings</h2>
    <p>There are no limits</p>

    <app-group-checkbox
      formControlName="toppings"
      [options]="toppingOptions"
      [searchable]="true"
      [shouldGroupSelected]="true"
      [hasSelectAll]="true"
    ></app-group-checkbox>

    <mat-card title="Form Values" appearance="outlined" style="margin: 1rem 2rem; padding: 1rem">
      <mat-card-title> My Form Values </mat-card-title>
      <pre>{{ form.value | json }}</pre>
    </mat-card>
  </form>
</div>
